@import "tailwindcss";

html,
body,
#__next {
  height: 100%;
  overflow: hidden; /* ⭐⭐⭐ 최상위 레벨에서 스크롤을 원천 차단 */
}

.font-viga {
  font-family: 'Viga', sans-serif;
}

.font-audio {
  font-family: 'Audiowide';
}

.font-reem-kufi {
  font-family: 'Reem Kufi',sans-serif;
}

.font-lato {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-vietnam {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.animated-link {
  stroke-dasharray: 10 5; /* 10px 그리고, 5px 비우고 */
  animation: dash 1s linear infinite;
  color: crimson;
}

@keyframes dash {
  to {
    stroke-dashoffset: -15; /* dasharray 합계만큼 이동 */
  }
}

@import 'rc-slider/assets/index.css';

.hide-scrollbar {
  /* Firefox를 위한 표준 방식 */
  scrollbar-width: none;
  
  /* IE, Edge 구버전 */
  -ms-overflow-style: none;
}

/* Chrome, Safari, Edge 등 Webkit 기반 브라우저를 위한 방식 */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}