.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.lottieWrapper {
    width: 200px;
    text-align: center;
}

.loadingText {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #555;
}